.dayWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day {
  // Твои базовые стили
  width: 36px !important;
  height: 36px !important;
  border-radius: 12px !important;
  position: relative;
  z-index: 1; // Кнопка чуть ниже точек по z-index, если нужно
}

.dotContainer {
  position: absolute;
  bottom: 4px; // Расстояние от нижнего края
  display: flex;
  gap: 2px;
  justify-content: center;
  z-index: 2; // Точки всегда сверху
  pointer-events: none; // Чтобы клик проходил сквозь точки на кнопку дня
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  
  &.dotLecture { background: #3b82f6; }
  &.dotPractice { background: #22c55e; }
  &.dotExam { background: #f43f5e; }
}